main {
  max-width: 100%;
  width: 1000px;
  margin: 80px auto;
  padding: 0 40px;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
ul {
  list-style-type: none;
  padding: 0;
  border: 2px solid #c141f4;
}
