/* Media query section  */

@media only screen and (min-width: 900px) {
  /* about me button */

  .cta {
    font-size: 2rem;
    padding: 20px 40px;
  }
  /* end about me button */

  /* hero font size  */

  #hero h1 {
    font-size: 5rem;
  }
  /* end hero font size  */
}

/* navBar */

@media only screen and (min-width: 1250px) {
  #navbar .brand h1 {
    display: none;
  }

  #navbar .navbar-class .hamburger-bar {
    display: none;
  }

  #navbar .navbar-class .nav-list ul {
    position: inherit;
    display: block;
    height: auto;

    background-color: transparent;
  }
  #navbar ul li {
    display: inline-table;
  }
  #navbar .nav-list ul a {
    padding: 0;
  }
}
/* End navBar *

/* End Media query section  */
